version: '3.8'

services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"

  redis:
    image: redis

  web:
    build:
      context: .
    command: gunicorn --bind 0.0.0.0:8000 project.wsgi:application
    volumes:
      - .:/code
    env_file:
      - .env.prod
    environment:
      - DJANGO_ENV=production
      - DJANGO_SETTINGS_MODULE=config.settings.prod
    depends_on:
      - db
      - redis

  celery:
    build:
      context: .
    command: celery -A project worker --loglevel=info
    volumes:
      - .:/code
    env_file:
      - .env.prod
    environment:
      - DJANGO_ENV=production
      - DJANGO_SETTINGS_MODULE=config.settings.prod
    depends_on:
      - db
      - redis

  celery-beat:
    build:
      context: .
    command: celery -A project beat --loglevel=info
    volumes:
      - .:/code
    env_file:
      - .env.prod
    environment:
      - DJANGO_ENV=production
      - DJANGO_SETTINGS_MODULE=config.settings.prod
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

volumes:
  postgres_data:
