version: '3'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  web:
    build:
      context: .
    command: sh -c "python manage.py migrate && python manage.py set_site_domain && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - .env.dev
    environment:
      - DJANGO_ENV=development
      - DJANGO_SETTINGS_MODULE=config.settings.dev
    depends_on:
      - db
      - redis

  celery:
    build:
      context: .
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/code
    env_file:
      - .env.dev
    environment:
      - DJANGO_ENV=development
      - DJANGO_SETTINGS_MODULE=config.settings.dev
    depends_on:
      - db
      - redis

  celery-beat:
    build:
      context: .
    command: celery -A config beat --loglevel=info
    volumes:
      - .:/code
    env_file:
      - .env.dev
    environment:
      - DJANGO_ENV=development
      - DJANGO_SETTINGS_MODULE=config.settings.dev
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

volumes:
  postgres_data:
