<!-- templates/portfolio/portfolio.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Portfolio{% endblock title %}
{% block content %}

{% if not user.is_authenticated %}
    <div class="header">
        <h3>Please log in to view your portfolio</h3>
        <br>
        <p><a href="{% url 'login' %}">Log In</a></p>
        <p>or</p>
        <p><a href="{% url 'signup' %}">Sign Up</a></p>
    </div>

<!--Content if user is logged in-->
{% else %}
    <p>Hi {{ user.email }}!</p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>

    <br><br>

    <div class="header">
        <h1>Portfolio</h1>
    </div>

    <br><br>

    <form method="post" action="{% url 'transaction' %}">
        {% csrf_token %}
        <label for="investment_type">Choose Investment Type to Make Transaction</label>
        <select name="investment_type" id="investment_type">
            <option value="Stock">Stock</option>
            <option value="Crypto">Crypto</option>
            <option value="Cash">Cash</option>
        </select>
        <br><br>
        <button type="submit">New Transaction</button>
    </form>

    <br><br>

    <div class="container-left">
        <h2>Total portfolio value: ${{ total_portfolio_value }}</h2>
        <h3>Cash balance: ${{ cash_balance }}</h3>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Investment Type</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Average Price</th>
                    <th scope="col">Total Commissions</th>
                    <th scope="col">Cost basis</th>
                    <th scope="col">Current Price</th>
                    <th scope="col">Current Value</th>
                    <th scope="col">P&L</th>
                    <th scope="col">P&L %</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in portfolio %}
                <tr>
                    <td>{{ entry.investment_type }}</td>
                    <td>{{ entry.investment_symbol }}</td>
                    <td>{{ entry.investment_name }}</td>
                    <td>{{ entry.quantity }}</td>
                    <td>{{ entry.average_trade_price }}</td>
                    <td>{{ entry.commissions }}</td>
                    <td>{{ entry.cost_basis }}</td>
                    <td>{{ entry.current_price }}</td>
                    <td>{{ entry.current_value }}</td>
                    <td>{{ entry.profit_loss }}</td>
                    <td>{{ entry.profit_loss_percent }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock content %}
