<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'initial-setup' %}">Portfolio setup/reset</a></li>
                <li><a href="{% url 'asset-transaction' %}">New transaction</a></li>
                <li><a href="{% url 'cash-transaction' %}">Deposit/Withdrawal</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
        {% if user.is_authenticated %}
            <div class="header-user">{{ user.email }}</div>
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </header>

    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message|safe }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 - Investment Portfolio Tracker.</p>
    </footer>
</body>
</html>
