<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio Tracker{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div id="wrapper" class="d-flex">
        <!-- Sidebar Section -->
        <aside id="sidebar-wrapper" class="d-flex flex-column position-fixed vh-100 bg-light border-right">
            <button class="btn btn-primary" id="menu-toggle">Toggle Sidebar</button>
            {% block sidebar %}
            <div class="d-flex flex-column justify-content-between h-100 w-100">
                <div>
                    <div class="sidebar-heading p-3">Hi {{ user.email }}</div>

                    <br><br>
                    <div class="list-group list-group-flush">
                        <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                        <a href="{% url 'initial-setup' %}" class="list-group-item list-group-item-action bg-light">Initial Setup</a>
                        <a href="{% url 'asset-transaction' %}" class="list-group-item list-group-item-action bg-light">New Transaction</a>
                        <a href="{% url 'cash-transaction' %}" class="list-group-item list-group-item-action bg-light">Deposit/Withdrawal</a>
                    </div>
                </div>
                <div class="sidebar-footer text-center p-3">
                    <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Logout</a>
                </div>
            </div>
            {% endblock %}
        </aside>

        <!-- Main Content Section -->
        <main id="page-content-wrapper" class="container-fluid ml-auto mt-4" style="margin-left: 300px;">
            {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% block content %}
            <!-- Main content will be injected here -->
            {% endblock %}
        </main>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById("menu-toggle").addEventListener("click", function() {
            document.getElementById("wrapper").classList.toggle("toggled");
        });
    </script>
</body>

</html>
