/* General body and font styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

/* Sidebar Wrapper */
#sidebar-wrapper {
    width: 300px;
    background-color: #004080 !important;
    color: #ffffff;
    position: fixed;
    height: 100%; /* Make the sidebar full height */
}

/* Toggled sidebar to collapse */
#wrapper.toggled #sidebar-wrapper {
    width: 80px; /* Collapse to a smaller width */
}

#wrapper.toggled #page-content-wrapper {
    margin-left: 80px; /* Adjust the main content margin when sidebar is collapsed */
}

/* Page Content Wrapper */
#page-content-wrapper {
    margin-left: 300px;  /* This value should match the sidebar width */
    padding: 20px;
}

/* Sidebar Heading */
.sidebar-heading {
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 0;
}

/* Sidebar Footer */
#sidebar-wrapper .sidebar-footer {
    text-align: left;
    padding: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* List Group Item */
#sidebar-wrapper .list-group-item {
    border: none;
    padding: 10px 15px;
    background-color: #004080 !important; /* Background color for all links */
    color: #ffffff;
}

/* Hover Effect */
#sidebar-wrapper .list-group-item:hover {
    background-color: #003a74 !important; /* Hover background color */
    color: #00b3ff !important; /* Hover text color */
}

/* Button inside the sidebar */
#menu-toggle {
    margin: 10px;
    background-color: #004080;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

#menu-toggle:hover {
    background-color: #cfded7;
    color: #004080;
}