/* General body and font styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

/* Sidebar Wrapper */
#sidebar-wrapper {
    width: 300px;
    background-color: #004080 !important;
    color: #ffffff;
    position: fixed;
    height: 100%; /* Make the sidebar full height */
}

/* Page Content Wrapper */
#page-content-wrapper {
    margin-left: 300px;  /* This value should match the sidebar width */
    padding: 20px;
}

/* Sidebar Heading */
.sidebar-heading {
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 0;
}

/* Sidebar Footer */
#sidebar-wrapper .sidebar-footer {
    text-align: left;
    padding: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* List Group Item */
#sidebar-wrapper .list-group-item {
    border: none;
    padding: 10px 15px;
    background-color: #004080 !important; /* Background color for all links */
    color: #ffffff;
}

/* Hover Effect */
#sidebar-wrapper .list-group-item:hover {
    background-color: #003a74 !important; /* Hover background color */
    color: #00b3ff !important; /* Hover text color */
}


/* General styles for messages */
.messages {
    margin-bottom: 20px;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/* MESSAGES STYLES */
/* Success messages */
.alert-success {
    background-color: #d4edda;  /* Light green background */
    color: #155724;  /* Dark green text */
    border: 1px solid #c3e6cb;  /* Green border */
}

/* Info messages (you may want to use 'alert-info' instead of 'alert-warning' for info messages) */
.alert-info {
    background-color: #d1ecf1;  /* Light blue background */
    color: #0c5460;  /* Dark blue text */
    border: 1px solid #bee5eb;  /* Blue border */
}

/* Warning messages */
.alert-warning {
    background-color: #fff3cd;  /* Light yellow background */
    color: #856404;  /* Dark yellow text */
    border: 1px solid #ffeeba;  /* Yellow border */
}

/* Error messages */
.alert-error, .alert-danger {
    background-color: #f8d7da;  /* Light red background */
    color: #721c24;  /* Dark red text */
    border: 1px solid #f5c6cb;  /* Red border */
}
